<style>
    .funder-row {
        padding: 1em;
    }
    .funder-logo {width: 160px}
</style>

<h1>DataHub Funding details</h1>


<div class="container">
<div class='row funder-row'>
  <div class='col-md-2'>
   <%= link_to image('fwo-logo', :class=>'funder-logo'), "https://www.fwo.be/", target:'_blank' %>
  </div>
  <div class="col-md-10">
     Development of DataHub is supported by the Research Foundation - Flanders (<%= link_to "FWO", "https://www.fwo.be/", target:'_blank' %>) for ELIXIR Belgium (I002819N)
  </div>
</div>

</div>
</div>
